Flask
moviepy
werkzeug
flask-cors
google-cloud-speech
google-cloud-storage
google-generativeai
python-dotenv
flask-pymongo
flask-bcrypt
pymongo
dnspython
regex
sentence-transformers
langchain
langchain-google-genai
langchain-core
pytube
youtube-transcript-api
google-generativeai
python-dotenv
flask-pymongo
flask-bcrypt
pymongo
dnspython
regex
sentence-transformers
PyPDF2